<ul>
  <% @users.each do |u| %>
    <li>
      <%= u.email %>
      <%= button_to 'Delete', admin_destroy_user_path(u), :class => 'btn btn-danger btn-sm', :method => :delete, data: {:confirm => 'Видалити цього користувача ?'} %>
        <% if !u.admin?   %>
      <%= button_to 'To admin', to_admin_path(u), :class => 'btn btn-success btn-sm', data: {:confirm => 'Зробити адміном цього користувача ?'} %>
        <% end %>
        <% if u.admin?   %>
      <%= button_to 'To user', to_admin_path(u), :class => 'btn btn-success btn-sm', data: {:confirm => 'Зробити адміном цього користувача ?'} %>
        <% end %>
    </li>
  <% end %>
</ul>
