
#brand
{
	font-size: 25px;
	font-weight: 800;
	color: yellow;
	margin-left: 30px;
}
#backgr {
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
z-index: -1;

}
.navbar
{
	
    position: relative;
    width: 100%;
    overflow:hidden;
       padding:0px 0px 0px 0px;

}

#btnGroup
{
	
   height: auto;
    width: 500px;

}
.pageBtn
{
	background-color: rgba(0,0,0,0);
	  padding:15px 15px 15px 15px;
	border-style: none;
color: rgb(255,255,255);
	font-size: 15px;
	
}