
#brand
{
	font-size: 25px;
	font-weight: 800;
	color: black;
	margin-left: 30px;
}

.navbar
{
	
    position: relative;
    width: 100%;
    overflow:hidden;
       padding:0px 0px 0px 0px;

}

#btnGroup
{
	
   height: auto;
    width: 500px;

}
.pageBtn
{
	background-color: rgba(0,0,0,0);
	  padding:15px 15px 15px 15px;
	border-style: none;
color: black;
	font-size: 15px;
	 transition: 0.3s;
	
}
.pageBtn:hover {
  background-color: rgba(0,0,0,0.3);
  color: white;
}